In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [ ]:
df = pd.read_csv("titanic.csv")
df[['embark_town','survived']].groupby('embark_town').mean()

Saving titanic.csv to titanic.csv

In [ ]:
df.head()

     Unnamed: 0  survived  pclass     sex  ...  deck  embark_town  alive  alone
0             0         0       3    male  ...   NaN  Southampton     no  False
1             1         1       1  female  ...     C    Cherbourg    yes  False
2             2         1       3  female  ...   NaN  Southampton    yes   True
3             3         1       1  female  ...     C  Southampton    yes  False
4             4         0       3    male  ...   NaN  Southampton     no   True
..          ...       ...     ...     ...  ...   ...          ...    ...    ...
886         886         0       2    male  ...   NaN  Southampton     no   True
887         887         1       1  female  ...     B  Southampton    yes   True
888         888         0       3  female  ...   NaN  Southampton     no  False
889         889         1       1    male  ...     C    Cherbourg    yes   True
890         890         0       3    male  ...   NaN   Queenstown     no   True

[891 rows x 16 columns]

In [ ]:
# unexpected relationship between embark town and survival rate
df.pivot_table('survived','embark_town')

             survived
embark_town
Cherbourg    0.553571
Queenstown   0.389610
Southampton  0.336957

In [ ]:
# other dependable factors that influence the survival rate: sex
df.pivot_table('survived',['sex'], 'embark_town', margins=True)

embark_town  Cherbourg  Queenstown  Southampton       All
sex
female        0.876712    0.750000     0.689655  0.740385
male          0.305263    0.073171     0.174603  0.188908
All           0.553571    0.389610     0.336957  0.382452

In [ ]:
# other dependable factors that influence the survival rate: class
df.pivot_table('survived',['class'], 'embark_town', margins=True)

embark_town  Cherbourg  Queenstown  Southampton       All
class
First         0.694118    0.500000     0.582677  0.626168
Second        0.529412    0.666667     0.463415  0.472826
Third         0.378788    0.375000     0.189802  0.242363
All           0.553571    0.389610     0.336957  0.382452

In [ ]:
# other dependable factors that influence the survival rate: age
age = pd.cut(df['age'], [0, 18, 80])
df.pivot_table('survived', [age], 'embark_town')

embark_town  Cherbourg  Queenstown  Southampton
age
(0, 18]       0.714286       0.375     0.456311
(18, 80]      0.578431       0.250     0.341463

In [ ]:
# Erkenntnisse: die Variablen Geschlecht, Klasse und Alter stehen in Zusammenhang mit der Überlebensrate

In [ ]:
# Add hot encoding columns for articles
X = df[['sex','class']]
Y = df['survived']

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(copy=False,with_mean=False)
Xscaled = scaler.fit_transform(X)
Xs = pd.DataFrame(data=Xscaled, columns = X.columns); # Convert data format from ndarray to DataFrame

ValueError: ignored

In [ ]:


dummies = pd.get_dummies(df[['sex']], columns=['sex'])
Xsd = pd.concat([Xs,dummies], axis=1)
Xsd.head()